<!DOCTYPE html>
<html>
<head>
    <title>Avatar App</title>
</head>
<body>
    <h1>Avatar Finder</h1>
	<form method="POST" action="/">
		<label for="input">Enter an email address or website URL:</label><br>
		<input type="text" id="input" name="input"><br>
		<button type="submit">Submit</button>
	</form>
    </body>
    </html>