<!DOCTYPE html>
<html>
  <head>
    <title>Avatar App - Result</title>
  
  </head>
  <body>
   
    <p>
      <!-- Input Type: <% type %> -->
      <br />
      Input text: <% input %>
    </p>
    <!-- <img src="<%= input.imageUrl %>" alt="Avatar Image" /> -->
  </body> 
  </body>
</html>
